NET "incarry" LOC = AG16;
NET "inaddsub" LOC = AH15;
NET "enout" LOC = AK24;
NET "ina[0]"	LOC = AJ24;
NET "ina[1]"	LOC = AP14;
NET "ina[2]"	LOC = AP15;
NET "ina[3]"	LOC = AM25;
NET "ina[4]"	LOC = AL24;
NET "ina[5]"	LOC = AU15;
NET "ina[6]"	LOC = AV15;
NET "ina[7]"	LOC = AW24;
NET "ina[8]"	LOC = AV24;
NET "ina[9]"	LOC = AR14;
NET "ina[10]"	LOC = AT14;
NET "ina[11]"	LOC = AN24;
NET "ina[12]"	LOC = AN25;
NET "ina[13]"	LOC = B16;
NET "ina[14]"	LOC = A16;
NET "ina[15]"	LOC = R22;
NET "ina[16]"	LOC = T23;
NET "ina[17]"	LOC = G15;
NET "ina[18]"	LOC = G16;
NET "ina[19]"	LOC = N24;
NET "ina[20]"	LOC = M25;
NET "ina[21]"	LOC = H15;
NET "ina[22]"	LOC = J16;
NET "ina[23]"	LOC = D26;
NET "ina[24]"	LOC = E26;
NET "ina[25]"	LOC = L16;
NET "ina[26]"	LOC = K16;
NET "ina[27]"	LOC = F25;
NET "ina[28]"	LOC = F26;
NET "ina[29]"	LOC = D22;
NET "ina[30]"	LOC = C22;
NET "ina[31]"	LOC = A24;
NET "ina[32]"	LOC = A23;
NET "ina[33]"	LOC = C19;
NET "ina[34]"	LOC = C18;
NET "ina[35]"	LOC = E28;
NET "inb[0]"	LOC = F28;
NET "inb[1]"	LOC = H25;
NET "inb[2]"	LOC = J26;
NET "inb[3]"	LOC = J22;
NET "inb[4]"	LOC = H22;
NET "inb[5]"	LOC = J31;
NET "inb[6]"	LOC = K31;
NET "inb[7]"	LOC = G22;
NET "inb[8]"	LOC = F21;
NET "inb[9]"	LOC = F23;
NET "inb[10]"	LOC = E22;
NET "inb[11]"	LOC = G25;
NET "inb[12]"	LOC = G26;
NET "inb[13]"	LOC = D29;
NET "inb[14]"	LOC = E29;
NET "inb[15]"	LOC = B26;
NET "inb[16]"	LOC = A26;
NET "inb[17]"	LOC = L24;
NET "inb[18]"	LOC = K23;
NET "inb[19]"	LOC = C23;
NET "inb[20]"	LOC = B23;
NET "inb[21]"	LOC = E21;
NET "inb[22]"	LOC = D21;
NET "inb[23]"	LOC = C20;
NET "inb[24]"	LOC = D20;
NET "inb[25]"	LOC = AD2;
NET "inb[26]"	LOC = AD1;
NET "inb[27]"	LOC = AL9;
NET "inb[28]"	LOC = AK9;
NET "inb[29]"	LOC = AG2;
NET "inb[30]"	LOC = AG1;
NET "inb[31]"	LOC = AR9;
NET "inb[32]"	LOC = AP9;
NET "inb[33]"	LOC = AR3;
NET "inb[34]"	LOC = AR2;
NET "inb[35]"	LOC = AJ4;
NET "inb[36]"	LOC = AH4;
NET "inb[37]"	LOC = AH3;
NET "inb[38]"	LOC = AH2;
NET "inb[39]"	LOC = AL1;
NET "inb[40]"	LOC = AK1;
NET "inb[41]"	LOC = AU12;
NET "inb[42]"	LOC = AU11;
NET "inb[43]"	LOC = AM3;
NET "inb[44]"	LOC = AL3;
NET "inb[45]"	LOC = AD5;
NET "inb[46]"	LOC = AD4;
NET "inb[47]"	LOC = AG3;
NET "compareout512" LOC = AF3;
NET "comcheck[0]"	LOC = AB11;
NET "comcheck[1]"	LOC = AB10;
NET "comcheck[2]"	LOC = AG20;
NET "comcheck[3]"	LOC = AF20;
NET "comcheck[4]"	LOC = AL21;
NET "comcheck[5]"	LOC = AK21;
NET "comcheck[6]"	LOC = AT16;
NET "comcheck[7]"	LOC = AT15;
NET "comcheck[8]"	LOC = AU22;
NET "comcheck[9]"	LOC = AU21;
NET "comcheck[10]"	LOC = AP2;
NET "comcheck[11]"	LOC = AP1;
NET "comcheck[12]"	LOC = AU2;
NET "comcheck[13]"	LOC = AU1;
NET "comcheck[14]"	LOC = AJ10;
NET "comcheck[15]"	LOC = AJ9;
NET "comcheck[16]"	LOC = AV5;
NET "comcheck[17]"	LOC = AU5;
NET "comcheck[18]"	LOC = AN5;
NET "comcheck[19]"	LOC = AN4;
NET "comcheck[20]"	LOC = AW5;
NET "comcheck[21]"	LOC = AW4;
NET "comcheck[22]"	LOC = AP7;
NET "comcheck[23]"	LOC = AN7;
