NET "ina[0]"	LOC = D22;
NET "ina[1]"	LOC = C22;
NET "ina[2]"	LOC = A24;
NET "ina[3]"	LOC = A23;
NET "ina[4]"	LOC = C19;
NET "ina[5]"	LOC = C18;
NET "ina[6]"	LOC = E28;
NET "ina[7]"	LOC = F28;
NET "ina[8]"	LOC = H25;
NET "ina[9]"	LOC = J26;
NET "ina[10]"	LOC = J22;
NET "ina[11]"	LOC = H22;
NET "ina[12]"	LOC = J31;
NET "ina[13]"	LOC = K31;
NET "ina[14]"	LOC = G22;
NET "ina[15]"	LOC = F21;
NET "ina[16]"	LOC = F23;
NET "ina[17]"	LOC = E22;
NET "inb[0]"	LOC = AJ9;
NET "inb[1]"	LOC = G25;
NET "inb[2]"	LOC = G26;
NET "inb[3]"	LOC = D29;
NET "inb[4]"	LOC = E29;
NET "inb[5]"	LOC = B26;
NET "inb[6]"	LOC = A26;
NET "inb[7]"	LOC = L24;
NET "inb[8]"	LOC = K23;
NET "inb[9]"	LOC = C23;
NET "inb[10]"	LOC = B23;
NET "inb[11]"	LOC = E21;
NET "inb[12]"	LOC = D21;
NET "inb[13]"	LOC = C20;
NET "inb[14]"	LOC = D20;
NET "inb[15]"	LOC = AD2;
NET "inb[16]"	LOC = AD1;
NET "inb[17]"	LOC = AL9;
NET "comcheck[0]"	LOC = AK9;
NET "comcheck[1]"	LOC = AG2;
NET "comcheck[2]"	LOC = AG1;
NET "comcheck[3]"	LOC = AR9;
NET "comcheck[4]"	LOC = AP9;
NET "comcheck[5]"	LOC = AR3;
NET "comcheck[6]"	LOC = AR2;
NET "comcheck[7]"	LOC = AJ4;
NET "comcheck[8]"	LOC = AH4;
NET "comcheck[9]"	LOC = AH3;
NET "comcheck[10]"	LOC = AH2;
NET "comcheck[11]"	LOC = AL1;
NET "comcheck[12]"	LOC = AK1;
NET "comcheck[13]"	LOC = AU12;
NET "comcheck[14]"	LOC = AU11;
NET "comcheck[15]"	LOC = AM3;
NET "comcheck[16]"	LOC = AL3;
NET "comcheck[17]"	LOC = AD5;
NET "comcheck[18]"	LOC = AD4;
NET "comcheck[19]"	LOC = AG3;
NET "comcheck[20]"	LOC = AF3;
NET "comcheck[21]"	LOC = AB11;
NET "comcheck[22]"	LOC = AB10;
NET "comcheck[23]"	LOC = AG20;
NET "comcheck[24]"	LOC = AF20;
NET "comcheck[25]"	LOC = AL21;
NET "comcheck[26]"	LOC = AK21;
NET "comcheck[27]"	LOC = AT16;
NET "comcheck[28]"	LOC = AT15;
NET "comcheck[29]"	LOC = AU22;
NET "comcheck[30]"	LOC = AU21;
NET "comcheck[31]"	LOC = AP2;
NET "comcheck[32]"	LOC = AP1;
NET "comcheck[33]"	LOC = AU2;
NET "comcheck[34]"	LOC = AU1;
NET "comcheck[35]"	LOC = AJ10;
NET "compareout512" LOC = AN7;
